src/main/resources/br/com/webpublico/validacaoxml/rh/sicap/servidor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="sicap">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="servidores" type="servidoresType" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="arquivo" type="xsd:string" fixed="servidores" />
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="servidoresType">
        <xsd:sequence>
            <xsd:element name="servidor" type="servidorType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="servidorType">
        <xsd:sequence>
            <xsd:element name="vinculo" type="vinculoElementType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="nome" type="nomeType" use="required" />
        <xsd:attribute name="cpf" type="cpfType" use="required"/>
        <xsd:attribute name="dataNascimento" type="xsd:date" use="required"/>
        <xsd:attribute name="nomeMae" type="nomeType" use="required" />
        <xsd:attribute name="sexo" type="sexoType" use="required"/>
        <xsd:attribute name="nitPisPasep" type="nitPisPasepType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="vinculoElementType">
        <xsd:attribute name="matricula" type="xsd:integer" use="required" />
        <xsd:attribute name="dataAdmissao" type="xsd:date" use="required" />
        <xsd:attribute name="codigoCargo" type="xsd:integer" use="required" />
        <xsd:attribute name="tipoServidor" type="tipoServidorType" use="required" />
        <xsd:attribute name="tipoVinculo" type="tipoVinculoAttributeType" use="required" />
        <xsd:attribute name="regimePrevidenciario" type="regimePrevidenciarioType" use="required" />
    </xsd:complexType>

    <xsd:simpleType name="nomeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100" />
            <xsd:minLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="cpfType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nitPisPasepType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="sexoType">
        <xsd:annotation>
            <xsd:documentation>
                M-MASCULINO;
                F-FEMININO;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="M" />
            <xsd:enumeration value="F" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipoServidorType">
        <xsd:annotation>
            <xsd:documentation>
                1-CIVIL;
                2-MILITAR;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipoVinculoAttributeType">
        <xsd:annotation>
            <xsd:documentation>
                1-Servidor de cargo efetivo
                2-Servidor em cargo temporário
                3-Servidor em cargo comissionado
                4-Servidor efetivo em cargo comissão
                5-Servidor exercendo mandato eletivo
                6-Empregado público (CLT)
                7-Servidor estável não efetivo na forma do Art. 19 do ADCT(Ato das Disposições Constitucionais Transitórias)
                8-Servidor efetivo em cargo de comissão - Cedido de outro órgão
                9-Empregado (CLT) - Contrato de gestão
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
            <xsd:enumeration value="4" />
            <xsd:enumeration value="5" />
            <xsd:enumeration value="6" />
            <xsd:enumeration value="7" />
            <xsd:enumeration value="8" />
            <xsd:enumeration value="9" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="regimePrevidenciarioType">
        <xsd:annotation>
            <xsd:documentation>
                1-RGPS
                2-RPPS
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
