src/main/resources/br/com/webpublico/validacaoxml/rh/sicap/tabelasVencimento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="sicap">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tabelasVencimentos" type="tabelasVencimentosType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="arquivo" type="xsd:string" fixed="tabelaVencimentos"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="tabelasVencimentosType">
        <xsd:sequence>
            <xsd:element name="tabela" type="tabelaType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tabelaType">
        <xsd:sequence>
            <xsd:element name="niveis" type="niveisType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="cargos" type="cargosType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="codigo" type="codigoType" use="required"/>
        <xsd:attribute name="nome" type="stringType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="niveisType">
        <xsd:sequence>
            <xsd:element name="nivel" type="nivelType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cargosType">
        <xsd:sequence>
            <xsd:element name="cargo" type="cargoType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="nivelType">
        <xsd:attribute name="codigo" type="xsd:integer" use="required"/>
        <xsd:attribute name="referencia" type="stringType" use="required"/>
        <xsd:attribute name="valor" type="xsd:decimal" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="cargoType">
        <xsd:attribute name="codigo" type="xsd:integer" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="stringType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="codigoType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="10" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
