src/main/resources/br/com/webpublico/validacaoxml/rh/sicap/tiposFolha.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="sicap">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="tiposFolha" type="tiposFolhaType" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="arquivo" type="xsd:string" fixed="tiposFolha"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="tiposFolhaType">
		<xsd:sequence>
			<xsd:element name="folha" type="folhaType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="folhaType">
		<xsd:attribute name="codigo" type="xsd:integer" use="required"/>
		<xsd:attribute name="descricao" type="descricaoType" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="descricaoType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="60" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
