src/main/webapp/WEB-INF/classes/br/com/webpublico/validacaoxml/rh/sicap/cargo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="sicap">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="cargos" type="cargosType" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="arquivo" type="xsd:string" fixed="cargos" />
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="cargosType">
        <xsd:sequence>
            <xsd:element name="cargo" type="cargoType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cargoType">
        <xsd:attribute name="codigo" type="xsd:integer" use="required"/>
        <xsd:attribute name="subGrupoClassificacaoFuncional" type="xsd:integer" use="required"/>
        <xsd:attribute name="nome" type="stringType" use="required" />
        <xsd:attribute name="cargaHorariaMensal" type="xsd:integer" use="required"/>
        <xsd:attribute name="intervaloPromocao" type="xsd:integer" use="optional"/>
        <xsd:attribute name="escolaridade" type="escolaridadeType" use="required"/>
        <xsd:attribute name="tipo" type="tipoType" use="required"/>
        <xsd:attribute name="dataCriacao" type="xsd:date" use="optional"/>
        <xsd:attribute name="situacao" type="situacaoType" use="required"/>
        <xsd:attribute name="dataExtincao" type="xsd:date" use="optional"/>
    </xsd:complexType>

    <xsd:simpleType name="stringType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"></xsd:maxLength>
            <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="escolaridadeType">
        <xsd:annotation>
            <xsd:documentation>
                1 - Nível Fundamental
                2 - Nível Médio
                3 - Nível Superior
                4 - Nível Técnico
                9 - Não Aplicável
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1"></xsd:enumeration>
            <xsd:enumeration value="2"></xsd:enumeration>
            <xsd:enumeration value="3"></xsd:enumeration>
            <xsd:enumeration value="4"></xsd:enumeration>
            <xsd:enumeration value="9"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipoType">
        <xsd:annotation>
            <xsd:documentation>
                1-EFETIVO;
                2-COMISSIONADO;
                3-TEMPORÁRIO;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1"></xsd:enumeration>
            <xsd:enumeration value="2"></xsd:enumeration>
            <xsd:enumeration value="3"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="situacaoType">
        <xsd:annotation>
            <xsd:documentation>
                1-VIGENTE;
                2-EXTINTO;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1"></xsd:enumeration>
            <xsd:enumeration value="2"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
