src/main/webapp/WEB-INF/classes/br/com/webpublico/validacaoxml/rh/sicap/contracheque.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="sicap">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="contraCheques" type="contrachequesType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="arquivo" type="xsd:string" fixed="contracheque"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="contrachequesType">
        <xsd:sequence>
            <xsd:element name="contraCheque" type="contraChequeType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="mesCompetencia" type="mesCompetenciaType" use="required" />
        <xsd:attribute name="anoCompetencia" type="xsd:integer" use="required" />
    </xsd:complexType>

    <xsd:complexType name="contraChequeType">
        <xsd:sequence>
            <xsd:element name="beneficiario" type="beneficiarioType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="verbas" type="verbasType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="tipoFolha" type="xsd:integer" use="required"/>
        <xsd:attribute name="baseFgts" type="xsd:decimal" use="required"/>
        <xsd:attribute name="basePrevidenciariaSegurado" type="xsd:decimal" use="required"/>
        <xsd:attribute name="basePrevidenciariaPatronal" type="xsd:decimal" use="required"/>
        <xsd:attribute name="baseIrpf" type="xsd:decimal" use="required"/>
        <xsd:attribute name="totalVencimentos" type="xsd:decimal" use="required"/>
        <xsd:attribute name="totalDescontos" type="xsd:decimal" use="required"/>
        <xsd:attribute name="codigoTabelaVencimento" type="codigoType" use="optional"/>
        <xsd:attribute name="referenciaNivel" type="stringType" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="beneficiarioType">
        <xsd:attribute name="cpf" type="cpfType" use="required"/>
        <xsd:attribute name="matricula" type="xsd:integer" use="required"/>
        <xsd:attribute name="situacaoBeneficiario" type="situacaoBeneficiarioType" use="required"/>
        <xsd:attribute name="codigoCargoAtual" type="xsd:integer" use="required"/>
        <xsd:attribute name="codigoCargoEfetivo" type="xsd:integer" use="optional"/>
        <xsd:attribute name="situacaoAtualServidor" type="situacaoAtualServidorType" use="optional"/>
        <xsd:attribute name="unidadeLotacao" type="xsd:unsignedLong" use="optional"/>
        <xsd:attribute name="entidadeLotacao" type="xsd:integer" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="verbasType">
        <xsd:sequence>
            <xsd:element name="verba" type="verbaType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="verbaType">
        <xsd:attribute name="codigo" type="codigoVerbaType" use="required"/>
        <xsd:attribute name="referencia" type="referenciaType" use="optional"/>
        <xsd:attribute name="valor" type="xsd:decimal" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="codigoVerbaType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="25" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="60" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="referenciaType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="cpfType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="mesCompetenciaType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="13"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="situacaoBeneficiarioType">
        <xsd:annotation>
            <xsd:documentation>
                1-Ativo
                2-Inativo
                3-Pensionista
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="codigoType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="10" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="situacaoAtualServidorType">
        <xsd:annotation>
            <xsd:documentation>
                1-Servidor Efetivo
                2-Comissionado
                3-Servidor Temporario
                4-Servidor Efetivo ocupando cargo em comissao
                5-Servidor Efetivo recebendo Funcao Gratificada
                6-Servidor Temporario ocupando cargo em comissao
                7-Servidor Temporario recebendo Funcao Gratificada
                8-Empregado (CLT) - Contrato de gestao
                9-Estagiario
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
            <xsd:enumeration value="4" />
            <xsd:enumeration value="5" />
            <xsd:enumeration value="6" />
            <xsd:enumeration value="7" />
            <xsd:enumeration value="8" />
            <xsd:enumeration value="9" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
