src/main/webapp/WEB-INF/classes/br/com/webpublico/validacaoxml/rh/sicap/historicoFuncional.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="sicap">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="historicoFuncional" type="historicoFuncionalType" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="arquivo" type="xsd:string" fixed="historicoFuncional"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="historicoFuncionalType">
		<xsd:sequence>
			<xsd:element name="movimentacao" type="movimentacaoType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="movimentacaoType">
		<xsd:attribute name="cpf" type="cpfType" use="required"/>
		<xsd:attribute name="matricula" type="xsd:integer" use="required"/>
		<xsd:attribute name="situacao" type="situacaoType" use="required"/>
		<xsd:attribute name="dataOcorrencia" type="xsd:date" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="cpfType">
		<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="situacaoType">
		<xsd:annotation>
			<xsd:documentation>
				1-Em exercício
				2-Exonerado
				3-Licenciado com remuneração
				4-Licenciado sem remuneração	
				5-Cedido com ônus
				6-Cedido sem ônus
				7-Requisitado com ônus
				8-Requisitado sem ônus
				9-Demitido
				10-Em disponibilidade
				11-Falecido
				12-Aposentado
				13-Recluso
				14-Reforma militar
				15-Reserva militar
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1" />
			<xsd:enumeration value="2" />
			<xsd:enumeration value="3" />
			<xsd:enumeration value="4" />
			<xsd:enumeration value="5" />
			<xsd:enumeration value="6" />
			<xsd:enumeration value="7" />
			<xsd:enumeration value="8" />
			<xsd:enumeration value="9" />
			<xsd:enumeration value="10" />
			<xsd:enumeration value="11" />
			<xsd:enumeration value="12" />
			<xsd:enumeration value="13" />
			<xsd:enumeration value="14" />
			<xsd:enumeration value="15" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
