src/main/webapp/WEB-INF/classes/br/com/webpublico/validacaoxml/rh/sicap/pensionista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="sicap">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pensionistas" type="pensionistasType" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="arquivo" type="xsd:string" fixed="pensionistas" />
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="pensionistasType">
        <xsd:sequence>
            <xsd:element name="pensionista" type="pensionistaType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="pensionistaType">
        <xsd:sequence>
            <xsd:element name="pensao" type="pensaoType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="nome" type="nomeType" use="required" />
        <xsd:attribute name="cpf" type="cpfType" use="required" />
        <xsd:attribute name="dataNascimento" type="xsd:date" use="required"/>
        <xsd:attribute name="nomeMae" type="nomeType" use="required" />
        <xsd:attribute name="sexo" type="sexoType" use="required"/>
        <xsd:attribute name="nitPisPasep" type="nitPisPasepType" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="pensaoType">
        <xsd:attribute name="cpfInstituidor" type="cpfType" use="required" />
        <xsd:attribute name="matriculaInstituidor" type="xsd:integer" use="required" />
        <xsd:attribute name="dataInicio" type="xsd:date" use="required" />
        <xsd:attribute name="tipoDependencia" type="tipoDependenciaType" use="required" />
        <xsd:attribute name="matriculaPensionista" type="xsd:integer" use="required" />
        <xsd:attribute name="tipoPensao" type="tipoPensaoType" use="required" />
        <xsd:attribute name="dataFim" type="xsd:date" use="optional" />
    </xsd:complexType>

    <xsd:simpleType name="nomeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100" />
            <xsd:minLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="cpfType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nitPisPasepType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="sexoType">
        <xsd:annotation>
            <xsd:documentation>
                M-MASCULINO;
                F-FEMININO;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="M" />
            <xsd:enumeration value="F" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipoDependenciaType">
        <xsd:annotation>
            <xsd:documentation>
                * Beneficiários de Pensão Vitalícia
                1-Cônjuge
                2-Pessoa divorciada ou separada judicialmente, com percepção de pensão alimentícia do segurado
                3-Convivente que comprovadamente constitua entidade familiar com o segurado
                4-Pai e mãe que comprovem dependência econômica com o segurado
                * Beneficiários de Pensão Temporária
                5-Filhos até 21 anos de idade
                6-Filhos inválidos, enquanto durar a invalidez
                7-Irmão órfão de pai e mãe, até 21 anos que não possua bens ou redimentos suficientes para o próprio sustento
                8-Irmão órfão de pai e mãe se inválido, enquanto durar a invalidez
                9-Menor sob tutela, até 21 anos que não possua bens ou redimentos suficientes para o próprio sustento
                10-Menor sob tutela se inválido, enquanto durar a invalidez
                11-Enteado equipara-se aos filhos, mediante declaração escrita do segurado e se comprovada a dependência econômica
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
            <xsd:enumeration value="3" />
            <xsd:enumeration value="4" />
            <xsd:enumeration value="5" />
            <xsd:enumeration value="6" />
            <xsd:enumeration value="7" />
            <xsd:enumeration value="8" />
            <xsd:enumeration value="9" />
            <xsd:enumeration value="10" />
            <xsd:enumeration value="11" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tipoPensaoType">
        <xsd:annotation>
            <xsd:documentation>
                1-Temporária
                2-Vitalícia
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="1" />
            <xsd:enumeration value="2" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
