src/main/webapp/WEB-INF/classes/br/com/webpublico/validacaoxml/rh/sicap/rescisao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="sicap">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="rescisoes" type="rescisoesType" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="arquivo" type="xsd:string" fixed="rescisao"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="rescisoesType">
		<xsd:sequence>
			<xsd:element name="rescisao" type="rescisaoType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="rescisaoType">
		<xsd:sequence>
			<xsd:element name="beneficiario" type="beneficiarioType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="verbas" type="verbasType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="baseFgts" type="xsd:decimal" use="required"/>
		<xsd:attribute name="basePrevidenciariaSegurado" type="xsd:decimal" use="required"/>
		<xsd:attribute name="basePrevidenciariaPatronal" type="xsd:decimal" use="required"/>
		<xsd:attribute name="baseIrpf" type="xsd:decimal" use="required"/>
		<xsd:attribute name="totalVencimentos" type="xsd:decimal" use="required"/>
		<xsd:attribute name="totalDescontos" type="xsd:decimal" use="required"/>
		<xsd:attribute name="codigoTabelaVencimento" type="codigoType" use="optional"/>
		<xsd:attribute name="referenciaNivel" type="stringType" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="beneficiarioType">
		<xsd:attribute name="cpf" type="cpfType" use="required"/>
		<xsd:attribute name="matricula" type="xsd:integer" use="required"/>
		<xsd:attribute name="dataAdmissao" type="xsd:date" use="required"/>
		<xsd:attribute name="dataExoneracao" type="xsd:date" use="required"/>
		<xsd:attribute name="dataAviso" type="xsd:date" use="optional"/>
		<xsd:attribute name="avisoIndenizado" type="avisoIdenizadoType" use="required"/>
		<xsd:attribute name="numeroEmpenho" type="xsd:integer" use="required"/>		
		<xsd:attribute name="anoEmpenho" type="xsd:integer" use="required"/>		
		<xsd:attribute name="dataEmpenho" type="xsd:date" use="required"/>		
	</xsd:complexType>

	<xsd:complexType name="verbasType">
		<xsd:sequence>
			<xsd:element name="verba" type="verbaType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="verbaType">
		<xsd:attribute name="codigo" type="codigoVerbaType" use="required"/>
		<xsd:attribute name="referencia" type="referenciaType" use="optional"/>
		<xsd:attribute name="valor" type="xsd:decimal" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="codigoVerbaType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="25" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stringType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="60" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="referenciaType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="cpfType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="avisoIdenizadoType">
		<xsd:annotation>
			<xsd:documentation>
				S-Sim
				N-Não
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S" />
			<xsd:enumeration value="N" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="codigoType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
