src/main/webapp/WEB-INF/classes/br/com/webpublico/validacaoxml/rh/sicap/unidadesLotacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="sicap">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="unidadesLotacao" type="unidadesLotacaoType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="arquivo" type="xsd:string" fixed="unidadesLotacao"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="unidadesLotacaoType">
        <xsd:sequence>
            <xsd:element name="unidade" type="unidadeType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="unidadeType">
        <xsd:attribute name="codigo" type="xsd:unsignedLong" use="required"/>
        <xsd:attribute name="entidadeLotacao" type="xsd:integer" use="optional"/>
        <xsd:attribute name="nome" type="nomeType" use="required"/>
        <xsd:attribute name="municipio" type="xsd:integer" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="nomeType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="300" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
