src/main/webapp/WEB-INF/classes/br/com/webpublico/validacaoxml/rh/sicap/verbas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="sicap">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="verbas" type="verbasType" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="arquivo" type="xsd:string" fixed="verbas"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="verbasType">
		<xsd:sequence>
			<xsd:element name="verba" type="verbaType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="verbaType">
		<xsd:attribute name="codigo" type="xsd:integer" use="required"/>
		<xsd:attribute name="descricao" type="descricaoType" use="required"/>
		<xsd:attribute name="baseLegal" type="baseLegalType" use="optional"/>
		<xsd:attribute name="basePrevidencia" type="simNaoType" use="required"/>
		<xsd:attribute name="baseIRPF" type="simNaoType" use="required"/>
		<xsd:attribute name="baseFGTS" type="simNaoType" use="required"/>
		<xsd:attribute name="natureza" type="naturezaType" use="required"/>
		<xsd:attribute name="tipoReferencia" type="tipoReferenciaType" use="required"/>
		<xsd:attribute name="compoeVencimentoPadrao" type="simNaoType" use="required"/>
		<xsd:attribute name="categoriaEconomica" type="categoriaEconomicaType" use="optional"/>
		<xsd:attribute name="grupoNaturezaDespesa" type="grupoNaturezaDespesaType" use="optional"/>
		<xsd:attribute name="modalidadeAplicacao" type="modalidadeAplicacaoType" use="optional"/>
		<xsd:attribute name="elementoDespesa" type="elementoDespesaType" use="optional"/>
	</xsd:complexType>

	<xsd:simpleType name="descricaoType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="60" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="baseLegalType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="40" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="simNaoType">
		<xsd:annotation>
			<xsd:documentation>
				S-SIM;
				N-NÃO;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="naturezaType">
		<xsd:annotation>
			<xsd:documentation>
				C-Crédito
				D-Débito
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="D"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tipoReferenciaType">
		<xsd:annotation>
			<xsd:documentation>
				1-Dia
				2-Hora
				3-Percentual
				4-Valor fixo
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="categoriaEconomicaType">
		<xsd:annotation>
			<xsd:documentation>
				3-DESPESAS CORRENTES
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="grupoNaturezaDespesaType">
		<xsd:annotation>
			<xsd:documentation>
				1-PESSOAL E ENCARGOS SOCIAIS
				3-OUTRAS DESPESAS CORRENTES
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="modalidadeAplicacaoType">
		<xsd:annotation>
			<xsd:documentation>
				90-APLICAÇÕES DIRETAS
				91-APLICAÇÃO DIRETA DECORRENTE DE OPERAÇÃO ENTRE ÓRGÃOS, FUNDOS E ENTIDADES INTEGRANTES DOS ORÇAMENTOS FISCAL E DA SEGURIDADE SOCIAL
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="90"/>
			<xsd:enumeration value="91"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="elementoDespesaType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
